$foundation-palette: (
  primary: #177966,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
) !default;
$light-gray: #ffae00;
@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-everything;
//$light-gray: blue;
